mixin form-request-extend()
  .form-request(data-validate)&attributes(attributes)
    form(method="post").form-request__form
      +custom-input({
        inputPlaceholder: "Введите ваше имя",
        inputError: "Не корректное имя",
        inputName: "user-name",
        inputMinLength: "2"
      })(data-validate-type="text", data-limitations="letters")
      +custom-input({
        inputPlaceholder: "Введите ваш телефон",
        inputError: "Не корректный телефон",
        inputName: "user-phone"
      })(data-validate-type="phone")
      +custom-textarea({inputPlaceholder: "Сообщение", inputName: "user-info"}).auto-resize-textarea
      +custom-toggle({
        inputLabel: "Даю согласие,на обработку персональных данных",
        inputError: "Поле является обязательным",
        inputName: "user-agreement",
        inputChecked: true
      })(data-validate-type="checkbox").custom-toggle--checkbox
      +btn({text: "Отправить", type: "submit"}).form-request__btn
