mixin home-intro()
  .intro
    .intro__wrapper.swiper
      .swiper-wrapper
        .swiper-slide.intro__swiper-slide
          +picture("slides", "banner", "jpg", 1920, 800, "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани").intro__slide-img
          .container
            .intro__slide-content
              h2.title.intro__title!= "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани"
              +btn({text: "Оставить заявку"})(data-open-modal="feedback").intro__btn
        .swiper-slide.intro__swiper-slide
          +picture("slides", "banner", "jpg", 1920, 800, "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани").intro__slide-img
          .container
            .intro__slide-content
              h2.title.intro__title!= "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани"
              +btn({text: "Оставить заявку"})(data-open-modal="feedback").intro__btn
        .swiper-slide.intro__swiper-slide
          +picture("slides", "banner", "jpg", 1920, 800, "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани").intro__slide-img
          .container
            .intro__slide-content
              h2.title.intro__title!= "Нанесение логотипов и изображений при помощи компьютерной вышивки на любые ткани"
              +btn({text: "Оставить заявку"})(data-open-modal="feedback").intro__btn
      .intro__controls
        .swiper-pagination
        button.intro__btn.intro__btn--prev
          +icon("icon-left-long", 15, 15)
        button.intro__btn.intro__btn--next
          +icon("icon-right-long", 15, 15)
