mixin intro-order()
  section.section
    .container
      h2.section__title.section__title--center.title!= "Заказать вышивку"
      .section__content
        p!= "Вышивка – это уникальный способ сделать ваше изделие индивидуальным, узнаваемым. С помощью компьютерной вышивки мы можем создавать любые по сложности рисунки. "
      +form-order().section__form-order.section__form-order--center
