mixin intro-embroidery()
  section.section
    .container
      h2.section__title.section__title--center.title!= "От чего зависит стоимость вышивки?"
      +form-order().section__form-order
      .section__content
        p!= "Цена – важный аспект любого изделия. Стоимость вышивки складывается из стоимости трудозатрат на изготовление и стоимости использованных материалов. Чем сложнее изображение, тем сложнее изготовить программу и трудозатратнее производство. Трудоемкость так же зависит от количества стежков, полученных при создании программы для вышивального автомата и количества экземпляров.  Поэтому стоимость каждого заказа рассчитывается индивидуально. Для постоянных заказчиков действует гибкая система скидок. "

