mixin section-cost-depends()
  section.section.section--cost-depends.section--noise
    .container
      .section__parts
        .section__left
          +form-request().form-request--air.section__form-request
        .section__right
          .section__intro
            h2.section__title!= "От чего зависит стоимость вышивки?"
          .section__content
            p!= "Цена – важный аспект любого изделия. Стоимость вышивки складывается из стоимости трудозатрат на изготовление и стоимости использованных материалов. Чем сложнее изображение, тем сложнее изготовить программу и трудозатратнее производство. Трудоемкость так же зависит от количества стежков, полученных при создании программы для вышивального автомата и количества экземпляров.  Поэтому стоимость каждого заказа рассчитывается индивидуально. Для постоянных заказчиков действует гибкая система скидок. "
