mixin section-order()
  section.section.section--order.section--noise
    .container
      .section__intro
        h2.section__title.section__title--center!= "Заказать вышивку"
      .section__content
        p!= "Вышивка – это уникальный способ сделать ваше изделие индивидуальным, узнаваемым. С помощью компьютерной вышивки мы можем создавать любые по сложности рисунки. "
      +form-request().form-request--order.section__form-request
    span.section__line-decor
