.contacts {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.17;
  list-style: none;

  &__part {
    margin-bottom: 15px;

    @include vp-768 {
      margin-bottom: 25px;
    }

    @include vp-1024 {
      margin-bottom: 45px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__socials {
    padding: 0 30px;

    @include vp-1024 {
      margin-bottom: 30px;
    }

    & > * {
      margin-right: 15px;
    }
  }
}
