.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: 5px 0 10px;

  label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 50px;
      padding: 15px;
      border: 1px solid $color-silver;
      border-radius: 15px;
      outline: none;
      transition: border $trans-default;

      &:hover {
        border: 1px solid rgba($color-nero, 0.5);
      }

      &:focus {
        border: 1px solid rgba($color-nero, 0.8);
      }
    }
  }

  &__error {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: $color-torch-red;
    opacity: 0;
    height: 0;
    transition: opacity $trans-default, height $trans-default;
  }

  &.is-invalid {
    input {
      border: 1px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
      height: auto;
    }
  }

  &.auto-resize-textarea label textarea {
    min-height: 100px;
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}


