.custom-toggle {
  position: relative;
  display: flex;
  max-width: 100%;
  width: 100%;
  padding: 0 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  &__error {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    padding: 0 15px 0 30px;
    color: $color-torch-red;
    opacity: 0;
    transition: opacity $trans-default;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    span {
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: $color-default-white;
      border: 1px solid $color-silver;
      border-radius: 2px;
      transition: border $trans-default, background-color $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: transparent;
        transition: background-color $trans-default;
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid rgba($color-default-black, 0.2);
      border-radius: 50%;
      transition: border $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        color: $color-transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: color $trans-default;
      }
    }
  }

  input:checked + .custom-toggle__icon {
    background-color: $color-coral-red;
    border-color: $color-coral-red;

    &::before {
      background-image: url("../img/svg/icon-check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      border: 1px solid $color-torch-red;
    }

    .custom-toggle__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    label span {
      color: $color-eucalyptus;
    }
  }*/
}
