.portfolio-work {
  position: relative;
  display: block;
  max-width: 170px;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 8px 10px rgba(3, 35, 44, 0.1));
  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  & img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
