.promo-numbers {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-nero;

  &__part {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 50%;
    width: 100%;
    min-height: 55px;
    padding: 10px 0 10px;
    flex-grow: 1;

    @include vp-1024 {
      min-height: 85px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    &--wide {
      flex-direction: column;
      max-width: 100%;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1px;
        margin: 0 auto;
        max-width: 150px;
        background-color: $color-silver;
      }
    }

    &--cut-off {
      padding-left: 15px;

      @include vp-1024 {
        padding-left: 60px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        width: 1px;
        height: 20px;
        background-color: $color-silver;

        @include vp-1024 {
          left: 10px;
        }
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.15;
    color: $color-coral-red;

    @include vp-768 {
      font-size: 34px;
    }

    @include vp-1024 {
      font-size: 48px;
    }
  }

  &__text {
    flex-grow: 0.5;
    margin: 0;
    padding: 0 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.125;

    @include vp-576 {
      font-size: 14px;
    }

    @include vp-1024 {
      padding: 0 15px;
      font-size: 16px;
    }
  }
}
