.video {
  $block-name: &; // #{$block-name}__element

  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 64.25%;
  background-color: #000000;

  &--enabled {
    cursor: pointer;

    #{$block-name}__button {
      display: block;
    }

    &:hover #{$block-name}__button,
    &:focus #{$block-name}__button {
      opacity: 0.8;
      filter: drop-shadow(0px 8px 10px rgba(3, 35, 44, 0.1));
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 70px;
    height: 70px;
    font-size: 55px;
    line-height: 1;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
    outline: none;
    transition: opacity $trans-default;

    &:hover,
    &:focus {
      opacity: 0.8;
      filter: drop-shadow(0px 8px 10px rgba(3, 35, 44, 0.1));
    }
  }

  &__button-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    fill: #ffffff;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
