mixin main-nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +main-nav('1')
  //- подключаем файл со структурой данных блока
  -
    var mainMenu = [
      {
        "id": "0",
        "name": "О нас",
        "url": "/",
        "childs": [
          {
            "id": "0-0",
            "name": "Сертификаты",
            "url": "pages/about"
          },
          {
            "id": "0-10",
            "name": "Стандарты качества",
            "url": "pages/services",
          },
          {
            "id": "0-20",
            "name": "Вакансии",
            "url": "pages/some"
          },
        ]
      },
      {
        "id": "10",
        "name": "Производство",
        "url": "/pages",
        "childs": [
          {
            "id": "10-0",
            "name": "Металлообработка",
            "url": "pages/about"
          },
          {
            "id": "10-10",
            "name": "Покраска",
            "url": "pages/services",
            "childs": [
              {
                "id": "10-10-0",
                "name": "Покраска металла",
                "url": "pages/services/serve"
              },
              {
                "id": "10-10-10",
                "name": "Покраска дерева",
                "url": "pages/services/strip"
              }
            ]
          },
        ]
      },
      {
        "id": "20",
        "name": "Как мы работаем",
        "url": "https://github.com/nicothin/NTH-start-project"
      },
      {
        "id": "30",
        "name": "Узнать стоимость",
        "url": "https://nicothin.pro/contact"
      },
      {
        "id": "40",
        "name": "Сотрудничество",
        "url": "https://nicothin.pro/contact"
      },
      {
        "id": "50",
        "name": "Контакты",
        "url": "https://nicothin.pro/contact"
      },
    ];

  nav.main-nav#nav&attributes(attributes)
    ul.main-nav__list.main-nav__list--lvl-1
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem, 1)
          if (typeof (menuItem.childs) !== 'undefined' && menuItem.childs)
            +main-nav-sublist-wrapper(2)
              each menuItem2 in menuItem.childs
                +main-nav-item(selectedID, menuItem2, 2)
                  if (typeof (menuItem2.childs) !== 'undefined' && menuItem2.childs)
                    +main-nav-sublist-wrapper(3)
                      each menuItem3 in menuItem2.childs
                        +main-nav-item(selectedID, menuItem3, 3)

mixin main-nav-item(selectedID, item, level)
  -
    var thisItemClass = 'main-nav__item';
    var thisLinkClass = 'main-nav__link';
    if (selectedID == item.id) {
      thisItemClass += '  main-nav__item--active';
    }
    if (item.childs) {
      thisItemClass += '  main-nav__item--has-child';
    }
    if (level > 1) {
      thisItemClass += '  main-nav__item--lvl-' + level;
      thisLinkClass += '  main-nav__link--lvl-' + level;
    }

  li(class= thisItemClass)
    a(class= thisLinkClass, href=item.url)= item.name
    block

mixin main-nav-sublist-wrapper(level)
  -
    const divClass = 'main-nav__sublist-wrapper  main-nav__sublist-wrapper--lvl-' + level;
    const listClass = 'main-nav__list  main-nav__list--lvl-' + level;

  div(class= divClass)
    ul(class= listClass)
      block
