mixin video(idVideo, alt, mods)
  -
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' -' + modsList[i].trim();
      }
    }
  .video(class=allMods)&attributes(attributes)
    a.video__link(href="https://youtu.be/" + idVideo)
      picture
        source(srcset="https://i.ytimg.com/vi_webp/" + idVideo + "/maxresdefault.webp", type="image/webp")
        img.video__media(src="https://i.ytimg.com/vi/" + idVideo + "/maxresdefault.jpg", width=1280, height=720, alt=alt)
      block
    button.video__button(aria-label="Запустить видео")
      +icon("icon-play").video__button-icon
